body {
  background-color: #ccc5c6;
  font-family: 'Play', sans-serif;
}
.pizza-logo {
  width: 20%;
  float: right;
}

form select {
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.qtext {
  position: absolute;
  font-weight: bold;
}

.img-left {
  float: left;
  width: 25%;
  margin-bottom: 2%;
  margin-right: 2%;
}

.jumbotron {
  background-color: #e55965;
  height: 250px;
}

ol {
  padding-left: 5px;
  margin-left: 5px;
}

li {
  padding: 10px, 10px;
}

p {
  word-wrap: normal;
}
.show-info {
  display: none;
}
.remove {
  color: red;
}

.listInfo {
  cursor: pointer;
}
.listInfo:hover {
  text-decoration: underline;
}

button {
  margin-bottom: 10%;
}
