body {
  background-color: #ccc5c6;
}
.pizza-logo {
  width: 20%;
  float: right;
}



.jumbotron {
  background-color: #e55965;
  height: 250px;
}

p {
  word-wrap: normal;
}
.show-info {
  display: none;
}
.remove {
  color: red;
}
